[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
thoth-common = "*"
requests = "*"
flask = "*"
gunicorn = "*"
igitt = "*"
click = "==6.6"
pygithub = "*"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
"autopep8" = "*"
coala-bears = "*"

[requires]
python_version = "3.6"
