[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
daiquiri = "*"
thoth-common = "*"
requests = "*"
flask = "*"
gunicorn = "*"
igitt = "*"
click = "==6.6"
pygithub = "*"
gitdb = "*"
"oauth2client" = "*"
google-api-python-client = "*"

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
black = "*"
pylint = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
